:root{
    --white:#fcfcfc;
    --shadow:#888888;
    --base: #fefefe;
    --base2:#fafafa;
    --dark_base: #37474f;
    --dark_base2: #B0BEC5;
    --dark_base3:#263238;
    --light_base:#ECEFF1;
    --spacing: 15px;
    --blur: 10px;
    --grey_base: #616161;
    --grey_base2:#cccccc;
    --c_red:#f44336;
    --c_light_red:#ffebee;
    --c_orange:#ff8f00;
    --c_light_orange:#FFF3E0;
    --c_yellow:#CDDC39;
    --c_light_yellow:#F9FBE7;
    --c_green:#0097A7;
    --c_light_green:#E8F5E9;
    --c_teal:#009688;
    --c_light_teal:#E0F2F1;
    --c_blue:#3F51B5;
    --c_light_blue:#E8EAF6;
    --c_purple:#9C27B0;
    --c_light_purple:#F3E5F5;
}
html,
body{
    color:var(--dark_base);
    background-color: var(--light_base);
    overflow-x: hidden;
}

.navbar-black{
    background-color: var(--dark_base);
    border-color: transparent;
}
.icon-bar{
    background-color:var(--white);
}

.navbar-brand,
.navbar-brand:hover,
.navbar-brand:hover{
    color:var(--base);
    font-weight: bold;
}

.navbar-link{
    color:var(--base);
}

.navbar-link:hover,
.navbar-link:hover{
    color:var(--c_orange);
    background-color:var(--dark_base) !important;
}

.header-canvas{
    z-index: 4;
    background-color: var(--light_base);
    box-shadow: 0 1px 4px var(--shadow);
}

.jumbotron{
    background-color: var(--light_base);
    margin-top:50px;
    margin-bottom:0;
}
.jumbotron h1{
    text-shadow: 1px 1px 2px var(--shadow);
}
.jumbotron p{
    text-shadow: 1px 1px 2px var(--shadow);
}
.card-item{
    padding: 5px 15px 5px 15px;
    width: 100%;
    margin: 8px 0 8px 0;
    -webkit-box-shadow:2px 2px 4px var(--shadow);
    box-shadow: 2px 2px 4px var(--shadow);
    color:var(--dark_base);
    background-color:var(--base);
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.card-item:focus,
.card-item:hover{
    -webkit-box-shadow: 6px 6px 8px var(--shadow);
    box-shadow: 6px 6px 8px var(--shadow);
}

.card-item:active:hover,
.card-item.active.hover{
    -webkit-box-shadow:2px 2px 4px var(--shadow);
    box-shadow: 2px 2px 4px var(--shadow);
    background-color:var(--base2);
}

.item-orange .addition{
    height:45px;
    line-height:20px;
    overflow: scroll;
    border-top:solid 1px var(--c_orange);
    padding-top:5px;
}

.item-green .addition{
    height:45px;
    line-height:20px;
    overflow: scroll;
    border-top:solid 1px var(--c_green);
    padding-top:5px;
}
.info-title{
    height:20px;
    line-height:20px;
    overflow:scroll;
}
.item-orange{
    border-left: 7px solid var(--c_orange);
}

.item-blue{
    border-left: 6px solid var(--c_blue);
}
.item-red{
    border-left-color:var(--c_red);
}
.item-yellow{
    border-left-color:var(--c_yellow);
}
.item-green{
    border-left: 7px solid var(--c_green);
}
.item-teal{
    border-left-color:var(--c_teal);
}
.item-purple{
    border-left-color:var(--c_purple);
}

.dark-text{
    color: var(--dark_base3)!important;
}
.grey-text{
    color: var(--grey_base)!important;
}
.orange-text{
    color: var(--c_orange)!important;
}
.orange-text:hover,
.orange-text:hover{
    color:var(--dark_base);
}
.red-text{
    color:var(--c_red);
}

.shadow-text{
    text-shadow: 1px 1px 2px var(--shadow);
}
.bold-text{
    font-weight:bold;
}

.pagination{
    box-shadow: 2px 2px 4px var(--shadow);
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    z-index: 3;
    color: var(--white) !important;
    cursor: default;
    background-color: var(--c_orange);
    box-shadow: inset 1px 0 2px var(--shadow);
    border-color: #ddd;
}

.info-table{
    padding: 40px 15px 30px 15px;
}

.table-form{
    padding:20px 20px 5px 20px;
    background-color:var(--white);
    border-radius:5px;
    height:auto;
    box-shadow: 2px 2px 4px var(--shadow);
}

.table-form-title{
    padding-bottom:15px;
    border-bottom:solid 1px var(--c_orange);
}

.form-control.error:focus,
.form-control.error:focus {
    border-color: var(--c_red);
    outline: 0;
    -webkit-box-shadow: inset 0 2px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 67, 54, .6);
    box-shadow: inset 0 2px 1px rgba(0,0,0,.075), 0 0 8px rgba(244, 67, 54, .6);
}
.form-control{
    background-color: var(--white);
}

.btn-send-code{
    background-color:var(--dark_base);
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-send-code:hover,
.btn-send-code.hover{
    color:var(--white);
    box-shadow: 4px 4px 4px var(--shadow);
}
.btn-send-code:active:hover,
.btn-send-code.active.hover{
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-search-drv{
    margin-top:15px;
    background-color:var(--c_teal);
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-search-drv:hover,
.btn-search-drv.hover{
    color:var(--white);
    box-shadow: 4px 4px 4px var(--shadow);
}
.btn-search-drv:active:hover,
.btn-search-drv.active.hover{
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-search-psg{
    margin-top:15px;
    background-color:var(--c_orange);
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-search-psg:hover,
.btn-search-psg.hover{
    color:var(--white);
    box-shadow: 4px 4px 4px var(--shadow);
}
.btn-search-psg:active:hover,
.btn-search-psg.active.hover{
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-block-dark{
    display:block;
    width:100%;
    background-color:var(--dark_base);
    color:var(--light_base);
    margin-top:8px;
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-block-dark:hover,
.btn-block-dark.hover{
    color:var(--white);
    box-shadow: 4px 4px 4px var(--shadow);
}
.btn-block-dark:active:hover,
.btn-block-dark.active.hover{
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-orange-sm{
    background-color:var(--c_orange);
    color:var(--white);
    box-shadow: 1px 1px 4px var(--shadow);
}

.btn-orange{
    background-color:var(--c_orange);
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}

.btn-orange:hover,
.btn-orange.hover{
    color:var(--white);
    box-shadow: 4px 4px 4px var(--shadow);
}
.btn-orange:active:hover,
.btn-orange.active.hover{
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-large-orange{
    background-color:var(--c_orange);
    color:var(--white);
    width:120px;
    box-shadow: 2px 2px 2px var(--shadow);
}
.btn-large-orange:hover,
.btn-large-orange.hover{
    color:var(--white);
    box-shadow: 4px 4px 4px var(--shadow);
}
.btn-large-orange:active:hover,
.btn-large-orange.active.hover{
    color:var(--white);
    box-shadow: 2px 2px 2px var(--shadow);
}
.tip-link{
    text-align: center;
    margin:15px 0 15px 0;
    color:var(--c_orange);
}
.tip-link:hover,
.tip-link:hover{
    color:var(--dark_base);
}

.brand-header{
    margin-top:80px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.brand-header h1,
.brand-header .h1{
    font-size: 63px;
}
.brand-header p {
    margin-bottom: 30px;
    font-size: 21px;
    font-weight: 200;
}

@media screen and (max-width: 767px) {
    .row-offcanvas {
        position: relative;
        -webkit-transition: all .25s ease-out;
        -o-transition: all .25s ease-out;
        transition: all .25s ease-out;
    }

    .row-offcanvas-right {
        right: 0;
    }

    .row-offcanvas-left {
        left: 0;
    }

    .row-offcanvas-right .sidebar-offcanvas {
        right: -50%; /* 6 columns */
    }

    .row-offcanvas-left .sidebar-offcanvas {
        left: -55%; /* 6 columns */
    }

    .row-offcanvas-right.active {
        right: 50%; /* 6 columns */
    }

    .row-offcanvas-left.active {
        left: 60%; /* 6 columns */
    }

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        width: 50%; /* 6 columns */
        height:auto;
    }
}

.sidebar-offcanvas{
    margin-top:15px;
    padding: 0 15px 0 15px;
}
.outter-container{
    z-index: 0;
    background-color:var(--white);
    margin: 5px 0 5px 0;
}
.inner-container{
    padding:10px;
}


.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 0;
    color: var(--white);
    background-color: var(--c_orange);
    border-color: var(--grey_base2);
    box-shadow: inset 0 0 0 var(--shadow);
}

a.list-group-item,
button.list-group-item {
    z-index: 1;
    color: var(--dark_base);
    box-shadow: 2px 2px 4px var(--shadow);
}

a.list-group-item:active,
a.list-group-item.active,
button.list-group-item:active,
button.list-group-item.active {
    z-index: 0;
    box-shadow: inset 0 0 0 var(--shadow);
}

.radio-inline{
    font-weight:bold;
    color:var(--dark_base);
}
.fault-message{
    color:var(--c_red)!important;
    text-align: center;
    margin-top:15px;
}
td{
    font-size: 14px;
}
tr{
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

.footer{
    z-index: 4;
    padding:50px 8% 30px 8%;
    height: auto;
    color:var(--white);
    background-color:var(--dark_base);
    box-shadow: 0 -1px 4px var(--shadow);
}

.footer-header{
    padding-bottom:5px;
    border-bottom:solid 1px var(--c_orange);
}
/*.label-white{*/
    /*margin:2px;*/
    /*background-color:var(--dark_base);*/
    /*border:solid 1px var(--dark_base3)*/
/*}*/
/*.label-white:hover,*/
/*.label-white:hover{*/
    /*background-color:var(--c_orange);*/
    /*color:var(--white);*/
/*}*/

.tech-link{
    color:var(--white);
}
.tech-link:hover,
.tech-link:hover{
    color:var(--white);
}
.copy-right{
    padding:10px 0 10px 0;
    background-color:var(--dark_base3);
    text-align:center;
    color:var(--white);
}
.btn-small-dark{
    margin:1px;
    background-color:var(--dark_base);
    border:solid 1px var(--dark_base3)
}
.btn-small-dark:hover,
.btn-small-dark:hover{
    background-color:var(--c_orange);
    color:var(--white);
}

